
{% load static  %}
{% block css  %} {% endblock %}


<head>
<link href='../../../../../../fonts.googleapis.com/css0e15.css'?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='../../../../../../fonts.googleapis.com/cssaa44.css'?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/fasthover.css' %}">
<link rel="stylesheet" href="{% static 'css/popuo-box.css' %}">
<link rel="stylesheet" href="../../static/css/jquery.countdown.css">
<link rel="stylesheet" href="../../static/css/font-awesome.css" /> 


</head>

<body>

{% include 'includes/header.html' %}
{% include 'includes/navbar.html' %}

    
{% block content  %}

{% endblock  %}


  <!-- newsletter -->
  <div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h3>Newsletter</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" placeholder="Email" required="">
                <input type="submit" value="" />
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter -->

{% include 'includes/footer.html' %}
      

	



  
</body>
<script src="../../static/js/bootstrap-3.1.1.min.js"></script>
<script src="../../static/js/easyResponsiveTabs.js"></script>
<script src="../../static/js/imagezoom.js"></script>
<script src="../../static/js/jquery.countdown.js"></script>
<script src="../../static/js/jquery.flexisel.js"></script>
<script src="../../static/js/jquery.flexslider.js"></script>
<script src="../../static/js/jquery.magnific-popup.js"></script>
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery.wmuSlider.js"></script>
<script src="../../static/js/minicart.js"></script>
<script src="../../static/js/script.js"></script>
<script src="../../static/js/jquery.min.js "></script>
<link rel="stylesheet" href="../../static/js/jquery.countdown.js">

</html>