
{% extends 'base.html' %}
{% block content  %}

{% block css  %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 {% endblock %}

{% load static %}
<h2> This Blog Page </h2>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/bmw.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock  %}
